<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>About</h1>
    <p>Welcome to the About page! This is a guide for the website symbols</p>
    <h1>Legend</h1>
    <p>🔴 = Skill has unverified evidence</p>
    <p>🟢 = Skill has verified evidence</p>
    <p>📒 = View Skill</p>
    <p>✏️ = Edit Skill</p>
</body>
</html>