<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/messages') %>
    <%- include('partials/username-display') %>
    <h1>Welcome to the Admin Dashboard, <%= username %>!</h1>
    <nav>
        <ul>
            <li><a href="/admin/badges">Manage Badges</a></li>
            <li><a href="/admin/users">Manage Users</a></li>
            <li><a href="/skills">Manage Skills</a></li>
        </ul>
    </nav>
</body>
</html>
